<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Futsals In Nepal</title>
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-8 col-sm-4 ">
					<a href="/"><h1 class="title">Futsals In Nepal</h1></a>
				</div>
				<div class="col-xs-4 col-sm-8">
					<div class="float-right">
						<button id="allFutsal" class="" onclick="clearCircles()"><span class="desktop">Show All Futsals</span><span class="mobile">All</span></button>
						<button id="nearFutsal" class="" onclick="nearFutsals()"><span class="desktop">Find Futsals Near You</span><span class="mobile">Near</span></button>
						<a href="/futsals/add"><button id="addFutsal" class="button-filled" style="margin-left:1rem"><span class="desktop">Add A Futsal</span><span class="mobile">+</span></button></a>
					</div>
					<div clear="both"></div>
				</div>
			</div>
		</div>
	</header>
	<div style="margin-bottom: 59px"></div>