<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%=title%></title>
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-4 ">
					<a href="/"><h1 class="title"><%=title%></h1></a>
				</div>
				<div class="col-xs-12 col-sm-8">
					<div class="float-right">
						<button id="allFutsal"class="" onclick="clearCircles()">Show All Futsals</button>
						<button id="nearFutsal"class="" onclick="nearFutsals()">Find Futsals Near You</button>
						<a href="/futsals/add"><button class="button-filled" style="margin-left:1rem">Add A Futsal</button></a>
					</div>
					<div clear="both"></div>
				</div>
			</div>
		</div>
	</header>
	<div style="margin-bottom: 59px"></div>